# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.eggs/
*$py.class
prov2bigchaindb.egg-info/
rethinkdb_data
config.db
test.db

build/
dist/

# Unit test / coverage reports
.coverage
.cache

#IDE
.idea

# Sphinx documentation
docs/build/
.coverage.*
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# virtualenv
venv/
env/
ENV/

# Rope project settings
.ropeproject
